<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Dates">
        <classes>
            <class name="DateFormate">
                <methods>
                    <include name="setUp"/>
                    <include name="Date_picker"/>
                    <include name="close_page"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>